.content {
  width: 100vw;
  margin-top: 1rem;
  display: grid;
  place-items: center;
}


.wooCommerceApi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem;
  padding: 1rem 0;
  margin-bottom: 3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  mat-form-field {
    margin: 1rem;
  }

  .key-input {
    width: 22rem;
    max-width: 90vw;
  }

  .url-input {
    width: 15rem;
    max-width: 90vw;
  }

  .br {
    flex-basis: 100%;
  }

  .load-btn {
    height: 2.2rem;
    width: 7rem;
    background-color: rgb(36, 113, 255);

    &:hover {
      opacity: 90%;
    }
  }

}

.results-text {
  h1 {
    text-align: center;
    font-weight: 100;
    color: rgb(59, 59, 59);
    font-size: min(4vw, 2rem);
    font-family: 'Montserrat', sans-serif;
  }
}
