<div class="content">
  <div class="wooCommerceApi">
    <mat-form-field class="url-input">
      <input
        matInput
        type="text"
        placeholder="URL"
        [value]="apiConfig?.url"
        #urlInput
      />
    </mat-form-field>
    <mat-form-field class="key-input">
      <input
        matInput
        type="text"
        placeholder="Client Key"
        [value]="apiConfig?.clientKey"
        #clientKeyInput
      />
    </mat-form-field>
    <mat-form-field class="key-input">
      <input
        matInput
        type="text"
        placeholder="Secret Key"
        [value]="apiConfig?.secretKey"
        #secretKeyInput
      />
    </mat-form-field>
    <div class="br"></div>
    <button
      class="load-btn"
      mat-raised-button
      (click)="
        loadNewApi(urlInput.value, clientKeyInput.value, secretKeyInput.value)
      "
      color="primary"
    >
      Load API
    </button>
  </div>
  <div class="results-text">
    <h1 *ngIf="!apiError && apiConfig">Results for: {{ apiConfig?.url }}</h1>
    <h1 *ngIf="apiError && apiConfig">
      API not found, please check parameters
    </h1>
  </div>

  <app-table *ngIf="dataSource" [dataSource]="dataSource"></app-table>
  <mat-spinner *ngIf="!dataSource && !apiError && apiConfig"></mat-spinner>
</div>
