<div class="content">
  <mat-form-field class="search">
    <input
      matInput
      type="search"
      placeholder="Search"
      (keyup)="searchEvent(search.value)"
      #search
    />
  </mat-form-field>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <!-- Img Column -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef class="center-txt">
          <mat-icon>image</mat-icon>
        </th>
        <td mat-cell *matCellDef="let element" class="center-txt">
          <img class="product-icon" [src]="element.images[0].src" />
        </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Precio</th>
        <td mat-cell *matCellDef="let element">
          {{ element.price | currency: "EUR":true }}
        </td>
      </ng-container>

      <!-- Category Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Category</th>
        <td mat-cell *matCellDef="let element">
          {{ element.categories[0].name }}
        </td>
      </ng-container>

      <!-- Stock Column -->
      <ng-container matColumnDef="stock">
        <th mat-header-cell *matHeaderCellDef>Stock</th>
        <td mat-cell *matCellDef="let element">
          {{
            element.atum_stock_status === "instock"
              ? "Hay existencias"
              : "Sin stock"
          }}
        </td>
      </ng-container>

      <!-- Fecha Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let element">
          {{ element.date_created | dateformat }}
        </td>
      </ng-container>

      <!-- Featured Column -->
      <ng-container matColumnDef="featured">
        <th mat-header-cell *matHeaderCellDef class="center-txt">Destacado</th>
        <td mat-cell *matCellDef="let element" class="center-txt">
          <mat-icon *ngIf="element.featured">star</mat-icon>
          <mat-icon *ngIf="!element.featured">star_outline</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [length]="dataSource.data.length"
      [pageSizeOptions]="[5, 10]"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>
