:host * {
  font-size: min(2vw, 1rem);
}

.content {
  width: 90vw;
}

table {
  width: 100%;
}

.product-icon {
  width: 50px;
  margin-top: 5px;
}

.center-txt {
  text-align: center !important;
}

.search {
  margin: 0.4rem;
  float: right;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
}
