.content {
  display: grid;
  place-items: center;
  min-height: 60vh;

  .title {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 3rem;
    font-family: 'Montserrat', sans-serif;

  }

  mat-form-field {
    width: 22rem;
  }
}

.signup-btn {
  background-color: rgb(36, 113, 255);
  padding: 0 2rem;

  &:hover {
    opacity: 80%;
    transition: .5s;
  }
}

.displayTableCell {
  background-color: #eee;
  padding: 3rem 2rem 2rem 2rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
